<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Test-Login</title>
    <link rel="stylesheet" href="./static/stylesheet.css" />
  </head>
  <body>
    <main class="main">
      <form action="" class="form">
        <label for="email"
          >Email:
          <input
            id="email"
            type="email"
            class="email-input"
            placeholder="Enter your email"
            required
          />
        </label>
        <span class="result"></span>
   
        <label for="password"
          >Password:
          <section class="password-container">
            <input
            id="password"
            type="password"
            class="password-input"
            placeholder="Enter your password"
            required
            minlength="8"
          />
          <img src="./assets/icons/hide.svg" alt="show/hide password" class="toggle-password-icon">
          </section>
          
        </label>
        <span class="error-message"></span>
        <button type="submit" class="submit-btn">
          Submit
        </button>
      </form>
    </main>
    <script type="module" src="./scripts/index.js"></script>
  </body>
</html>
